.app-table {
  @include govuk-media-query($until: tablet) {
    // offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: 5px 0 15px -5px govuk-colour('mid-grey');
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }
}
