// global styles for <a> and <p> tags
$govuk-global-styles: true;

$govuk-page-width: 1100px;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Import local component styles
@import "app/views/_components/all.scss";

// Styles that aren't in the GOV.UK Frontend or local components
@import "core/card";
@import "core/definition-list";
@import "core/filter-layout";
@import "core/links";
@import "core/table";
@import "core/tag";

// Utilities
@import "utilities/grid";
@import "utilities/hidden";
@import "utilities/overrides";
@import "utilities/template";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.app-header--full-border {
  border-bottom-color: govuk-colour("blue");
}

.app-tag--prototype {
  background-color: govuk-colour('red');
}

mark {
  margin-left: -5px;
  padding: 2px 5px;
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.app-highlight--yellow {
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.app-count {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  display: inline-block;
  width: 26px; height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-left: 3px;
}
