# Private
.env

# Ignore tracking usage data config - we want a different one for each user
usage-data-config.json

# Development
.sass-cache
.DS_Store
.start.pid
.port.tmp
node_modules/*
.tmuxp.*
package-lock.json

# Dynamically generated data
app/data/applications.json
app/data/courses.json
app/data/providers.json
app/data/reasons-for-rejection.json
app/data/reasons-for-rejection/*
app/data/users.json
app/data/users/*
lib/extensions/_extensions.scss
public
