{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "applications" %}

{% block pageTitle %}
  Prototype for {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/providers",
    text: "Providers"
  }, {
    href: "/providers/" + provider.code,
    text: provider.name
  }, {
    text: "Applications"
  }]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ provider.name }} ({{ provider.code }})</h1>

    {% include "../_sub-navigation.njk" %}

    <h2 class="govuk-visually-hidden">Applications</h2>

  </div>
</div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    {% include "./_includes/filter-panel.njk" %}
  </div>

  <div class="app-filter-layout__content">

    <div class="app-action-bar">
      <div class="app-action-bar__filter"></div>
    </div>

    {#% include "./_includes/search-panel.njk" %#}

    <div>



    </div>

    {% if applications.length and pagination %}
      {% include "_includes/pagination.njk" %}
    {% endif %}

    {%- if not applications.length %}
      <p class="govuk-body">There are no results</p>
    {%- endif -%}

  </div>
</div>


{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
<script>
  new AppFrontend.FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.app-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
    },
    closeButton: {
      container: $('.app-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.app-filter-layout__filter')
    }
  })
</script>
{% endblock %}
