{{ appSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "All years",
    href: "/performance/service",
    active: true if subNavId == "all"
  }, {
    text: 2022 | getCycleLabel,
    href: "/performance/service/2022",
    active: true if subNavId == "2022"
  }, {
    text: 2021 | getCycleLabel,
    href: "/performance/service/2021",
    active: true if subNavId == "2021"
  }, {
    text: 2020 | getCycleLabel,
    href: "/performance/service/2020",
    active: true if subNavId == "2020"
  }]
}) }}
