{% extends "_layout.njk" %}

{% set primaryNavId = 'performance' %}
{% set subNavId = cycle if cycle else 'all' %}

{% set title = "Service performance" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/performance",
    text: "Performance"
  }, {
    text: "Service performance"
  }]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Service performance</h1>

    {% include "./_sub-navigation.njk" %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  </div>
</div>

{% endblock %}
