
{% extends "layout.html" %}

{% block pageTitle %}
  Kelly Jane Spears - Applications - {{serviceName}}
{% endblock %}

{% set pageId = 'applications' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Applications",
        href: "/applications"
      },
      {
        text: "Poppy Noor"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <span class="govuk-caption-xl">TU8112</span>
  <h1 class="govuk-heading-xl">Poppy Noor</h1>

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Full name"
          },
          value: {
            text: "Poppy Noor"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "9 April 1997"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }, {
          key: {
            text: "Nationality"
          },
          value: {
            text: "British"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }, {
          key: {
            text: "Phone number"
          },
          value: {
            html: "<a href=\"tel:	07700 900202\">07700 900202</a>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            html: "<a href=\"mailto:poppy.noor@example.com\">poppy.noor@example.com</a>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }, {
          key: {
            text: "Address"
          },
          value: {
            html: "Not provided"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }]
      }) }}



  <h2 class="govuk-heading-l">References</h2>

  {{govukButton({
    href: '/',
    text: 'Add referee',
    classes: 'govuk-button--secondary'
  })}}

  {% set referenceOneHtml %}
    {{ govukSummaryList({
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: govukTag({ text: 'Request failed', classes: 'app-tag--red' })
        }
      }, {
        key: {
          text: "Referee name"
        },
        value: {
          text: "Yana Juan"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }, {
        key: {
          text: "Referee email address"
        },
        value: {
          html: '<a href="mailto:yana@totally.com">yana@totally.com</a>'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }, {
        key: {
          text: "Referee phone number"
        },
        value: {
          html: '<a href="tel:07700 907811">07700 907811</a>'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      }]
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleHtml: '<a href="#">Yana Juan</a>',
    actions: {
      items: [{
        href: "",
        text: "Send email"
      }]
    },
    html: referenceOneHtml
  }) }}

  {% set referenceTwoHtml %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({ text: 'Awaiting response', classes: 'app-tag--turquoise' })
      }
    }, {
      key: {
        text: "Referee name"
      },
      value: {
        text: "Mee Tsou"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, {
      key: {
        text: "Referee email address"
      },
      value: {
        html: '<a href="mailto:mee.tsou@example.ac.cn">mee.tsou@example.ac.cn</a>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, {
      key: {
        text: "Referee phone number"
      },
      value: {
        html: '<a href="tel:07700 900001">07700 900001</a>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }]
  }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleHtml: '<a href="#">Mee Tsou</a>',
    html: referenceTwoHtml
  }) }}

  <h2 class="govuk-heading-l">Feedback</h2>

  {{govukButton({
    href: '/',
    text: 'Request feedback',
    classes: 'govuk-button--secondary'
  })}}

  {% set feedbackOneHtml %}
    {{ govukSummaryList({
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: govukTag({ text: 'Awaiting feedback', classes: 'app-tag--turquoise' })
        }
      }, {
        key: {
          text: "Name"
        },
        value: {
          html: 'Poppy Noor'
        }
      }]
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleHtml: 'Candidate',
    actions: {
      items: [{
        href: "",
        text: "Send email"
      }]
    },
    html: feedbackOneHtml
  }) }}

  {% set feedbackTwoHtml %}
    {{ govukSummaryList({
      rows: [{
        key: {
          text: "Status"
        },
        value: {
          html: govukTag({ text: 'Awaiting feedback', classes: 'app-tag--turquoise' })
        }
      }, {
        key: {
          text: "Name"
        },
        value: {
          html: 'Mee Tsous'
        }
      }]
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    headingLevel: 3,
    titleHtml: 'Referee',
    actions: {
      items: [{
        href: "",
        text: "Send email"
      }]
    },
    html: feedbackTwoHtml
  }) }}


  <h2 class="govuk-heading-l">Application history</h2>

  {{ appTimeline({
    items: [{
      label: {
        text:  "Application submitted"
      },
      datetime: {
        timestamp: "2019-05-28T10:45:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Kelly Jane Spears"
      }
    },
    {
      label: {
        text:  "Course chosen"
      },
      datetime: {
        timestamp: "2019-05-28T10:15:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Kelly Jane Spears"
      }
    },
    {
      label: {
        text:  "Application created"
      },
      datetime: {
        timestamp: "2019-05-21T13:15:00.000Z",
        type: "datetime"
      },
      byline: {
        text: "Kelly Jane Spears"
      }
    }
  ]}) }}

{% endblock %}
