
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Chase referees - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: 'Back',
    href: '/applications/1'
  })}}
{% endblock %}

{% block content %}

  <form action="/applications/1-chase-referee-success">

    <h1 class="govuk-heading-xl">Are you sure you want to send emails to chase the referee?</h1>

    <p class="govuk-body">The referee and candidate will both be sent emails.</p>

    {{ govukButton({
      text: "Yes - send the email"
    }) }}
    <p class="govuk-body"><a href="/applications/1">Cancel</a></p>
  </form>

{% endblock %}
