
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Import references - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: 'Back',
    href: '/'
  })}}
{% endblock %}

{% block content %}

  {# {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Select CSV file",
        href: "#file-upload"
      }
    ]
  }) }} #}

  {% set hintHtml %}
    <ul class="govuk-list govuk-list--bulet">
      <li>You'll need to save the <a target="_blank" href="https://docs.google.com/spreadsheets/d/18Lr1SWD20o_sPbyj7gsTwkaJO9jwL-YZTTdQfQOuIiw/edit#gid=7901036">latest spreadsheet</a> to a folder on your computer as a CSV file.</li>
    </ul>
  {% endset %}

  <form action="/applications/import-references-success">
    {{ govukFileUpload({
      id: "file-upload",
      name: "file-upload",
      isPageHeading: true,
      label: {
        text: "Import references",
        classes: 'govuk-label--xl'
      },
      hint: {
        html: hintHtml
      }
    }) }}

    {{ govukButton({ text: 'Import references' }) }}
  </form>




{% endblock %}
