{% extends "_layout.njk" %}

{% set primaryNavId = 'candidates' %}

{% block pageTitle %}
  Prototype for {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Applications</h1>

    {{ appSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Applications',
        href: '#',
        active: true
      }, {
        text: 'Candidate account',
        href: '#',
        active: false
      }, {
        text: 'Duplicate candidate matches',
        href: '/candidates/duplicates',
        active: false
      }]
    }) }}

  </div>
</div>

{% endblock %}
