
{% extends "layout.njk" %}

{% set pageId = 'api-tokens' %}

{% block pageTitle %}
  API tokens - {{serviceName}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">API tokens</h1>

  {{govukButton({
    text: 'Create token',
    href: '/api-tokens/new'
  })}}

  {{ govukTable({
    head: [
      {
        text: "Token ID"
      },
      {
        text: "Name of provider"
      },
      {
        text: "Created at",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          html: '1'
        },
        {
          html: 'Tribal'
        },
        {
          text: "7 Nov 2019",
          format: "numeric"
        }
      ],
      [
        {
          html: '2'
        },
        {
          html: 'Someone else'
        },
        {
          text: "31 Oct 2019",
          format: "numeric"
        }
      ]
    ]
  }) }}

{% endblock %}
