
{% extends "layout.html" %}

{% set pageId = 'api-tokens' %}

{% block pageTitle %}
  Create API token - API tokens - {{serviceName}}
{% endblock %}

{% block pageNavigation %}
  <!-- {{ govukBreadcrumbs({
    items: [
      {
        text: "API tokens",
        href: "/"
      },
      {
        text: "Create token"
      }
    ]
  }) }} -->

  {{govukBackLink({
    text: 'Back',
    href: '/api-tokens'
  })}}
{% endblock %}

{% block content %}

  <form action="/api-tokens/new-success">
    {{ govukRadios({
      idPrefix: "provider",
      name: "provider",
      fieldset: {
        legend: {
          html: "Choose provider",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "Tribal",
          text: "Tribal"
        },
        {
          value: "Another",
          text: "Another"
        },
        {
          value: "ProvideTeach",
          text: "ProvideTeach"
        }
      ]
    }) }}

    {{govukButton({
      text: "Create token"
    })}}

  </form>




{% endblock %}
