{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "users" %}

{% set title = "Edit " + user.first_name + " " + user.last_name + "’s details" %}

{% block pageTitle %}
{{ 'Error: ' if errors.length }} {{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers/" + provider.code + "/users/" + user.id
}) }}
{% endblock %}

{% block content %}

{% include "../../_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/providers/{{ provider.code }}/users/{{ user.id }}/edit" method="post" accept-charset="UTF-8" novalidate>

      {% call govukFieldset({
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          id: "first_name",
          name: "user[first_name]",
          label: {
            text: "First name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("first_name"),
          value: user.first_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "last_name",
          name: "user[last_name]",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("last_name"),
          value: user.last_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "email_address",
          name: "user[email_address]",
          type: "email",
          inputmode: "email",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("email_address"),
          value: user.email_address,
          spellcheck: false,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "dfe_uuid",
          name: "user[dfe_uuid]",
          label: {
            text: "DfE Sign-in ID (optional)",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("dfe_uuid"),
          value: user.dfe_uuid,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {% set notifications = ["application_received","application_received_from_another_organisation","application_rejected_by_default","application_withdrawn","application_transferred_to_another_organisation","offer_accepted","offer_declined"] %}

        <h2 class="govuk-heading-m">Email notifications</h2>

        <p class="govuk-hint">Choose which email notifications {{ user.first_name + " " + user.last_name }} will receive.</p>

        {% for notification in notifications %}

          {{ govukRadios({
            idPrefix: "notifications-" + notification,
            name: "user[notifications][" + notification + "]",
            fieldset: {
              legend: {
                text: notification | getNotificationLabel,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            classes: "govuk-radios--inline",
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: true if user.notifications[notification] in ["yes",true]
              },
              {
                value: "no",
                text: "No",
                checked: true if user.notifications[notification] in ["no",false]
              }
            ]
          }) }}

        {% endfor %}

        {#{ govukCheckboxes({
          idPrefix: "notifications",
          name: "user[notifications][]",
          fieldset: {
            legend: {
              text: "Email notifications (optional)",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Choose which email notifications you want to receive."
          },
          items: [
            {
              value: "application_received",
              text: "Application received",
              checked: true if user.notifications.application_received or "application_received" in user.notifications
            },
            {
              value: "application_received_from_another_organisation",
              text: "Application received from another organisation",
              checked: true if "application_received_from_another_organisation" in user.notifications or user.notifications.application_received_from_another_organisation
            },
            {
              value: "application_rejected_by_default",
              text: "Application automatically rejected",
              checked: true if user.notifications.application_rejected_by_default or "application_rejected_by_default" in user.notifications
            },
            {
              value: "application_withdrawn",
              text: "Application withdrawn by candidate",
              checked: true if user.notifications.application_withdrawn or "application_withdrawn" in user.notifications
            },
            {
              value: "application_transferred_to_another_organisation",
              text: "Application transferred to another organisation",
              checked: true if "application_transferred_to_another_organisation" in user.notifications or user.notifications.application_transferred_to_another_organisation
            },
            {
              value: "offer_accepted",
              text: "Offer accepted",
              checked: true if user.notifications.offer_accepted or "offer_accepted" in user.notifications
            },
            {
              value: "offer_declined",
              text: "Offer declined",
              checked: true if user.notifications.offer_declined or "offer_declined" in user.notifications
            }
          ]
        }) }#}

      {% endcall %}

      {{ govukButton({
        text: "Save user"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
