{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "users" %}

{% set title = "Edit " + user.first_name + " " + user.last_name + "’s details" %}

{% block pageTitle %}
{{ 'Error: ' if errors.length}} {{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers/" + provider.code + "/users/" + user.id
}) }}
{% endblock %}

{% block content %}

{% include "../../_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/providers/{{ provider.code }}/users/{{ user.id }}/edit" method="post" accept-charset="UTF-8" novalidate>

      {% call govukFieldset({
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          id: "first_name",
          name: "user[first_name]",
          label: {
            text: "First name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("first_name"),
          value: user.first_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "last_name",
          name: "user[last_name]",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("last_name"),
          value: user.last_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "email_address",
          name: "user[email_address]",
          type: "email",
          inputmode: "email",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("email_address"),
          value: user.email_address,
          spellcheck: false,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukRadios({
          idPrefix: "notifications",
          name: "user[send_notifications]",
          fieldset: {
            legend: {
              text: "Email notifications",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Send notifications",
              checked: true if user.send_notifications in [true,"yes"] else false
            },
            {
              value: "no",
              text: "Do not send notifications",
              checked: true if user.send_notifications in [false,"no"] else false
            }
          ]
        }) }}

        {#{ govukCheckboxes({
          idPrefix: "permissions",
          name: "user[permissions][]",
          fieldset: {
            legend: {
              text: "Permissions (optional)",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "The user will be able to view applications. You can also give them additional permissions."
          },
          items: [
            {
              value: "manage_organisations",
              text: "Manage organisational permissions",
              checked: true if user.permissions and "manage_organisations" in user.permissions
            },
            {
              value: "manage_users",
              text: "Manage users",
              checked: true if user.permissions and "manage_users" in user.permissions
            },
            {
              value: "make_decisions",
              text: "Make decisions and set up interviews",
              checked: true if user.permissions and "make_decisions" in user.permissions
            },
            {
              value: "view_safeguarding_information",
              text: "Access safeguarding information",
              checked: true if user.permissions and "view_safeguarding_information" in user.permissions
            },
            {
              value: "view_diversity_information",
              text: "Access diversity information",
              checked: true if user.permissions and "view_diversity_information" in user.permissions
            }
          ]
        }) }#}

      {% endcall %}

      {{ govukButton({
        text: "Save user"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
