{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "users" %}

{% set title = "Add new user" %}

{% block pageTitle %}
{{ 'Error: ' if errors.length}} {{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/providers/" + provider.code + "/users"
}) }}
{% endblock %}

{% block content %}

{% include "../../_includes/error-summary.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/providers/{{ provider.code }}/users/new" method="post" accept-charset="UTF-8" novalidate>

      {% call govukFieldset({
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          id: "first_name",
          name: "first_name",
          label: {
            text: "First name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("first_name"),
          value: data.first_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "last_name",
          name: "last_name",
          label: {
            text: "Last name",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("last_name"),
          value: data.last_name,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          id: "email_address",
          name: "email_address",
          type: "email",
          inputmode: "email",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("email_address"),
          value: data.email_address,
          spellcheck: false,
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukCheckboxes({
          idPrefix: "permissions",
          name: "permissions[]",
          fieldset: {
            legend: {
              text: "PERMISSIONS (optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "SOMETHING SENSIBLE"
          },
          items: [
            {
              value: "manage_organisations",
              text: "Manage organisational permissions"
            },
            {
              value: "manage_users",
              text: "Manage users"
            },
            {
              value: "make_decisions",
              text: "Make decisions"
            },
            {
              value: "view_safeguarding_information",
              text: "Access safeguarding information"
            },
            {
              value: "view_diversity_information",
              text: "Access diversity information"
            }
          ]
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Save"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
