{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "details" %}

{% set title = "View details for " + user.first_name + " " + user.last_name %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/providers",
    text: "Providers"
  }, {
    href: "/providers/" + provider.code,
    text: provider.name
  }, {
    href: "/providers/" + provider.code + "/users",
    text: "Users"
  }, {
    text: user.first_name + " " + user.last_name
  }]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukNotificationBanner({
      type: "success",
      text: message.success[0]
    }) if message.success }}

    <h1 class="govuk-heading-l">{{ user.first_name }} {{ user.last_name }}</h1>

    {% if data.impersonating_id and data.impersonating_id == user.id %}

      <p class="govuk-body">You are now impersonating this user. <a href="#" class="govuk-link">Visit Manage</a> to see what they see. Any changes made will be linked to you.</p>

      {{ govukButton({
        href: "/providers/" + provider.code + "/users/" + user.id + "?impersonating_id=",
        text: "Stop impersonating this user",
        classes: 'govuk-button--secondary'
      }) }}

    {% else %}

      {{ govukButton({
        href: "/providers/" + provider.code + "/users/" + user.id + "?impersonating_id=" + user.id,
        text: "Sign in as this user"
      }) }}

    {% endif %}

    {% include "./_includes/sub-navigation.njk" %}

    {% set iconTrue %}
    <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
      <path d="M100 200a100 100 0 1 1 0-200 100 100 0 0 1 0 200zm-60-85l40 40 80-80-20-20-60 60-20-20-20 20z"></path>
    </svg>
    {% endset %}

    {% set iconFalse %}
    <svg class="app-icon govuk-!-margin-right-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 200 200" focusable="false" fill="currentColor" aria-hidden="true">
      <path d="M100 0a100 100 0 110 200 100 100 0 010-200zm30 50l-30 30-30-30-20 20 30 30-30 30 20 20 30-30 30 30 20-20-30-30 30-30-20-20z"></path>
    </svg>
    {% endset %}

    {% set notificationsHtml %}
      <ul class="govuk-list">
        {% for notification in notifications %}
          <li>
            {% if user.notifications[notification] in ["yes",true] %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %} {{ notification | getNotificationLabel }}
            {{ ' – ' + user.notifications[notification] | yesNo | capitalize }}
          </li>
        {% endfor %}
      </ul>
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: user.first_name
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.code + "/users/" + user.id + "/edit",
                text: "Change",
                visuallyHiddenText: "first name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: user.last_name
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.code + "/users/" + user.id + "/edit",
                text: "Change",
                visuallyHiddenText: "last name"
              }
            ]
          }
        },
        {
          key: {
            text: "DfE Sign-in ID"
          },
          value: {
            text: user.dfe_uuid
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.code + "/users/" + user.id + "/edit",
                text: "Change",
                visuallyHiddenText: "DfE Sign-in ID"
              }
            ]
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: user.email_address
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.code + "/users/" + user.id + "/edit",
                text: "Change",
                visuallyHiddenText: "email address"
              }
            ]
          }
        },
        {
          key: {
            text: "Email notifications"
          },
          value: {
            html: notificationsHtml
          },
          actions: {
            items: [
              {
                href: "/providers/" + provider.code + "/users/" + user.id + "/edit",
                text: "Change",
                visuallyHiddenText: "email notification settings"
              }
            ]
          }
        },
        {
          key: {
            text: "Account created on"
          },
          value: {
            text: user.created_at | appDate('datetime')
          }
        },
        {
          key: {
            text: "Account updated on"
          },
          value: {
            text: user.updated_at | appDate('datetime')
          }
        } if user.updated_at,
        {
          key: {
            text: "Last signed in on"
          },
          value: {
            text: user.last_signed_in_at | appDate('datetime')
          }
        } if user.last_signed_in_at
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Permissions</h2>

    <dl class="govuk-summary-list">
      {% for p in user.providers %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ p.name }}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                {% if p.permissions.manage_organisations %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %}
                Manage organisational permissions
                {{ ' – ' + p.permissions.manage_organisations | yesNo | capitalize }}
              </li>
              <li>
                {% if p.permissions.manage_users %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %}
                Manage users
                {{ ' – ' + p.permissions.manage_users | yesNo | capitalize }}
              </li>
              <li>
                {% if p.permissions.make_decisions %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %}
                Make decisions
                {{ ' – ' + p.permissions.make_decisions | yesNo | capitalize }}
              </li>
              <li>
                {% if p.permissions.view_safeguarding_information %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %}
                Access safeguarding information
                {{ ' – ' + p.permissions.view_safeguarding_information | yesNo | capitalize }}
              </li>
              <li>
                {% if p.permissions.view_diversity_information %}{{ iconTrue | safe }}{% else %}{{ iconFalse | safe }}{% endif %}
                Access diversity information
                {{ ' – ' + p.permissions.view_diversity_information | yesNo | capitalize }}
              </li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if loop.length > 1 %}
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/providers/{{ provider.code }}/users/{{ user.id }}/permissions">
                    Change<span class="govuk-visually-hidden"> {{ provider.name }} permissions</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link app-link--destructive" href="/providers/{{ provider.code }}/users/{{ user.id }}/permissions">
                    Remove<span class="govuk-visually-hidden"> {{ provider.name }} permissions</span>
                  </a>
                </li>
              </ul>
            {% else %}
              <a class="govuk-link" href="/providers/{{ provider.code }}/users/{{ user.id }}/permissions">
                Change<span class="govuk-visually-hidden"> {{ provider.name }} permissions</span>
              </a>
            {% endif %}
          </dd>
        </div>
      {% endfor %}
    </dl>

    {{ govukButton({
      href: "/providers/" + provider.code + "/users/" + user.id + "/delete",
      text: "Delete user",
      classes: "govuk-button--warning"
    }) }}

  </div>
</div>



{% endblock %}
