<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text: counts[category].percent | numeral('0.00') + "%"
      },
      label: {
        html: counts[category].total | numeral('0,0') + ' of ' + counts.total | numeral('0,0') + ' application choices <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      },
      classes: "app-metric--blue"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text: counts[category].total | numeral('0,0')
      },
      label: {
        html: 'rejected in total <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text: "8"
      },
      label: {
        html: 'rejected in September <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
</div>
