<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text: counts[category].percent | numeral('0.00') + "%"
      },
      label: {
        html: counts[category].total | numeral('0,0') + ' of ' + counts.total | numeral('0,0') + ' rejections included this category'
      },
      classes: "app-metric--blue"
    }) }}
  </div>
  {% if currentCycle == cycle %}
    <div class="govuk-grid-column-one-half">
      {{ appMetric({
        metric: {
          text: counts[category].monthPercent | numeral('0.00') + "%"
        },
        label: {
          html: counts[category].monthTotal | numeral('0,0') + ' of ' + counts.monthTotal | numeral('0,0') + ' rejections in September included this category'
        }
      }) }}
    </div>
  {% endif %}
</div>
