{% set category = "quality-of-application" %}
{% set sectionTitle = category | getRejectionCategoryLabel %}
{% set reasons = ['personal-statement','subject-knowledge','other'] %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/{{ category }}">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

{% include "./_metrics.njk" %}

{% include "./_table.njk" %}
