<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/safeguarding-concerns">
    Safeguarding concerns
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"0.37%"
      },
      label: {
        text: "15 of 4,094 application choices"
      },
      classes: "app-metric--blue govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"15"
      },
      label: {
        text: "total"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"0"
      },
      label: {
        text: "this month"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>


<table class="govuk-table govuk-!-margin-top-5">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="40%">Reason</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="10%">Percentage of choices</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">This month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/safeguarding-concerns/">Information disclosed by candidate makes them unsuitable to work with children</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.07%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        3
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/safeguarding-concerns/">Information revealed by our vetting process makes the candidate unsuitable to work with children</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/safeguarding-concerns/other">Other</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.29%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        12
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
  </tbody>
</table>
