<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/honesty-and-professionalism">
    Honesty and professionalism
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"0.49%"
      },
      label: {
        text: "20 of 4,094 application choices"
      },
      classes: "app-metric--blue govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"20"
      },
      label: {
        text: "total"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"1"
      },
      label: {
        text: "this month"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-5">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="40%">Reason</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="10%">Percentage of choices</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">This month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/honesty-and-professionalism/plagiarism">Evidence of plagiarism in personal statement or elsewhere</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.02%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/honesty-and-professionalism/inaccurate-information">Information given on application form false or inaccurate</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.02%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/honesty-and-professionalism/references">References didn’t support application</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.07%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        3
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/honesty-and-professionalism/other">Other</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.39%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        16
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
  </tbody>
</table>
