{% set sectionTitle = "candidate behaviour" %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/candidate-behaviour">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"2.81%"
      },
      label: {
        html: '115 of 4,094 application choices <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      },
      classes: "app-metric--blue"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"115"
      },
      label: {
        html: 'rejected in total <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"1"
      },
      label: {
        html: 'rejected in September <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-5">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="40%">Reason</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="10%">Percentage of choices</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">This month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/candidate-behaviour/didnt-reply-to-our-interview-offer">Did not reply to messages</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.46%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        19
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/candidate-behaviour/didnt-attend-interview">Did not attend interview</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1.69%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        69
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/performance/reasons-for-rejection/candidate-behaviour/otherd">Other</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.88%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        36
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
  </tbody>
</table>
