{% set sectionTitle = "other advice or feedback" %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/other-advice-or-feedback">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"11.68%"
      },
      label: {
        html: '478 of 4,094 application choices <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      },
      classes: "app-metric--blue"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"478"
      },
      label: {
        html: 'rejected in total <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"42"
      },
      label: {
        html: 'rejected in September <span class="govuk-visually-hidden"> for ' + sectionTitle | lower + '</span>'
      }
    }) }}
  </div>
</div>
