<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/offered-another-course">
    Offered another course
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"3.74%"
      },
      label: {
        text: "153 of 4,094 application choices"
      },
      classes: "app-metric--blue govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"153"
      },
      label: {
        text: "total"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"1"
      },
      label: {
        text: "this month"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>
