<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/qualifications">
    Qualifications
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"17.95%"
      },
      label: {
        text: "735 of 4,094 application choices"
      },
      classes: "app-metric--blue govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"735"
      },
      label: {
        text: "total"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"14"
      },
      label: {
        text: "this month"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>


<table class="govuk-table govuk-!-margin-top-5">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="40%">Reason</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="10%">Percentage of choices</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">Total</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" width="25%">This month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=no_english_gcse">No English GCSE grade 4 (C) or above, or accepted equivalent</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        2.54%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        104
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        1
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=no_maths_gcse">No maths GCSE grade 4 (C) or above, or accepted equivalent</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        2.10%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        86
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=no_science_gcse">No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.88%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        36
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=no_degree">No degree</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0.90%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        37
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=no_degree">Degree does not meet course requirements</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        0
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link" href="/support/performance/reasons-for-rejection/application-choices?structured_rejection_reasons%5Bqualifications_which_qualifications%5D=other">Other</a>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        13.97%
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        572
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        13
      </td>
    </tr>
  </tbody>
</table>
