{% set category = "honesty-and-professionalism" %}
{% set sectionTitle = category | getRejectionCategoryLabel %}
{% set reasons = ['innacurate-information','plagiarism','references','other'] %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/{{ category }}">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

{% include "./_metrics.njk" %}

{% include "./_table.njk" %}
