{% set category = "additional-advice-or-feedback" %}
{% set sectionTitle = category | getRejectionCategoryLabel %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/{{ category }}">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

{% include "./_metrics.njk" %}
