<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/performance-at-interview">
    Performance at interview
  </a>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ appMetric({
      metric: {
        text:"14.22%"
      },
      label: {
        text: "582 of 4,094 application choices"
      },
      classes: "app-metric--blue govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"582"
      },
      label: {
        text: "total"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appMetric({
      metric: {
        text:"7"
      },
      label: {
        text: "this month"
      },
      classes: "govuk-!-padding-bottom-0"
    }) }}
  </div>
</div>
