{% set category = "candidate-behaviour" %}
{% set sectionTitle = category | getRejectionCategoryLabel %}
{% set reasons = ['did-not-reply-to-messages','did-not-attend-interview','other'] %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">
  <a class="govuk-link" href="/performance/reasons-for-rejection/{{ category }}">
    {{ sectionTitle | capitalize }}
  </a>
</h2>

{% include "./_metrics.njk" %}

{% include "./_table.njk" %}
