{% extends "_layout.njk" %}

{% set primaryNavId = 'performance' %}

{% set sectionTitle = "Reasons for rejection" %}
{% set title = category | getRejectionCategoryLabel %}

{% if reason.length %}
  {% set title = title + " - " + reason | getRejectionReasonLabel | lower %}
{% endif %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/performance",
    text: "Performance"
  }, {
    href: "/performance/reasons-for-rejection",
    text: sectionTitle
  }, {
    text: title
  }]
}) }}
{% endblock %}

{% macro _listItem(params) %}
  <li>
    {% if params.highlight %}
      <mark>{{ params.text }}</mark>
    {% else %}
      {{ params.text }}
    {% endif %}
    {{ ' - ' + params.description if params.description }}
  </li>
{% endmacro %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ sectionTitle }}</span>
      {{ title }}
    </h1>

    <!-- <p class="govuk-body">Showing application choices with the reject reason <strong>{{ title | lower }}</strong></p> -->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if rejections.length %}

      {% for rejection in rejections %}

        {% set candidateBehaviourHtml %}
          <ul class="govuk-list">
            {% if rejection.didn_t_reply_to_our_interview_offer %}
              {{ _listItem({
                text: "Did not reply to messages",
                highlight: true if reason == 'did-not-reply-to-messages' else false
              }) }}
            {% endif %}
            {% if rejection.didn_t_attend_interview %}
              {{ _listItem({
                text: "Did not attend interview",
                highlight: true if reason == 'did-not-attend-interview' else false
              }) }}
            {% endif %}
            {% if rejection.something_you_did_other_reason_details.length %}
              {{ _listItem({
                text: "Other",
                description: rejection.something_you_did_other_reason_details,
                highlight: true if reason == 'other' else false
              }) }}
            {% endif %}
            {% if rejection.candidate_behaviour_what_to_improve %}
              {{ _listItem({
                text: "Other",
                description: rejection.candidate_behaviour_what_to_improve,
                highlight: true if reason == 'other' else false
              }) }}
            {% endif %}
          </ul>
        {% endset %}

        {% set qualityOfApplicationHtml %}
          <ul class="govuk-list">
            {% if rejection.personal_statement %}
              {{ _listItem({
                text: "Personal statement",
                description: rejection.personal_statement_what_to_improve,
                highlight: true if reason == 'personal-statement' else false
              }) }}
            {% endif %}
            {#% if rejection.personal_statement_what_to_improve.length %}
              <li>{{ rejection.personal_statement_what_to_improve }}</li>
            {% endif %#}
            {% if rejection.subject_knowledge %}
              {{ _listItem({
                text: "Subject knowledge",
                description: rejection.subject_knowledge_what_to_improve,
                highlight: true if reason == 'subject-knowledge' else false
              }) }}
            {% endif %}
            {#% if rejection.subject_knowledge_what_to_improve.length %}
              <li>{{ rejection.subject_knowledge_what_to_improve }}</li>
            {% endif %#}
            {% if rejection.quality_of_application_other_reason_details.length %}
              <li>{{ rejection.quality_of_application_other_reason_details }}</li>
            {% endif %}
            {% if rejection.quality_of_application_what_to_improve.length %}
              <li>{{ rejection.quality_of_application_what_to_improve }}</li>
            {% endif %}
            {% if rejection.quality_of_application_other_reason_details.length %}
              <li>Other - {{ rejection.quality_of_application_other_reason_details }}</li>
            {% endif %}
          </ul>
        {% endset %}

        {% set qualificationsHtml %}
          <ul class="govuk-list">
            {% if rejection.no_english_gcse_grade_4_c_or_above_or_valid_equivalent %}
              <li>{% if reason == 'no-english-gcse' %}<mark>{% endif %}
                No English GCSE grade 4 (C) or above, or accepted equivalent
              {% if reason == 'no-english-gcse' %}</mark>{% endif %}</li>
            {% endif %}
            {% if rejection.no_maths_gcse_grade_4_c_or_above_or_valid_equivalent %}
              <li>No maths GCSE grade 4 (C) or above, or accepted equivalent</li>
            {% endif %}
            {% if rejection.no_science_gcse_grade_4_c_or_above_or_valid_equivalent_for_primary_applicants %}
              <li>No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)</li>
            {% endif %}
            {% if rejection.no_degree %}
              <li>No degree</li>
            {% endif %}
            {% if rejection.degree_does_not_meet_course_requirements %}
              <li>Degree does not meet course requirements</li>
            {% endif %}
            {% if rejection.qualifications_other_reason_details.length %}
              <li>Other - {{ rejection.qualifications_other_reason_details }}</li>
            {% endif %}
          </ul>
        {% endset %}

        {% set performanceAtInterviewHtml %}
          {{ rejection.performance_at_interview_what_to_improve }}
        {% endset %}

        {% set honestyAndProfessionalismHtml %}
          <ul class="govuk-list">
            {% if rejection.information_given_on_application_form_false_or_inaccurate %}
              <li>Inaccurate or false information in the application</li>
            {% endif %}
            {% if rejection.information_given_on_application_form_false_or_inaccurate_details.length %}
              <li>{{ rejection.information_given_on_application_form_false_or_inaccurate_details }}</li>
            {% endif %}
            {% if rejection.evidence_of_plagiarism_in_personal_statement_or_elsewhere %}
              <li>Evidence of plagiarism in the application</li>
            {% endif %}
            {% if rejection.evidence_of_plagiarism_in_personal_statement_or_elsewhere_details.length %}
              <li>{{ rejection.evidence_of_plagiarism_in_personal_statement_or_elsewhere_details }}</li>
            {% endif %}
            {% if rejection.references_didn_t_support_application %}
              <li>References did not support the application</li>
            {% endif %}
            {% if rejection.references_didn_t_support_application_details.length %}
              <li>{{ rejection.references_didn_t_support_application_details }}</li>
            {% endif %}
            {% if rejection.honesty_and_professionalism_other_reason_details.length %}
              <li>Other - {{ rejection.honesty_and_professionalism_other_reason_details }}</li>
            {% endif %}
          </ul>
        {% endset %}

        {% set safeguardingHtml %}
          <ul class="govuk-list">
            {% if rejection.information_disclosed_by_candidate_makes_them_unsuitable_to_work_with_children %}
              <li>The candidate disclosed information which makes them unsuitable to work with children</li>
            {% endif %}
            {% if rejection.information_disclosed_by_candidate_makes_them_unsuitable_to_work_with_children_details.length %}
              <li>{{ rejection.information_disclosed_by_candidate_makes_them_unsuitable_to_work_with_children_details }}</li>
            {% endif %}
            {% if rejection.information_revealed_by_our_vetting_process_makes_the_candidate_unsuitable_to_work_with_children %}
              <li>The vetting process found information which makes the candidate unsuitable to work with children</li>
            {% endif %}
            {% if rejection.information_revealed_by_our_vetting_process_makes_the_candidate_unsuitable_to_work_with_children_details.length %}
              <li>{{ rejection.information_revealed_by_our_vetting_process_makes_the_candidate_unsuitable_to_work_with_children_details }}</li>
            {% endif %}
            {% if rejection.safeguarding_issues_other_reason_details.length %}
              <li>Other - {{ rejection.safeguarding_issues_other_reason_details }}</li>
            {% endif %}
          </ul>
        {% endset %}

        {% set offeredAnotherPlaceHtml %}
          {{ rejection.offered_on_another_course_details }}
        {% endset %}

        {% set courseFullHtml %}
          Yes
        {% endset %}

        {{ appSummaryCard({
          titleHtml: "Application choice" + ' <a href="#">#'+ rejection.application_choice_id +'</a>',
          html: govukSummaryList({
            rows: [
              {
                key: {
                  html: '<mark>Candidate behaviour</mark>' if category == 'candidate-behaviour' and not reason else 'Candidate behaviour'
                },
                value: {
                  html: candidateBehaviourHtml
                }
              } if rejection.something_you_did,
              {
                key: {
                  html: '<mark>Quality of application</mark>' if category == 'quality-of-application' and not reason else 'Quality of application'
                },
                value: {
                  html: qualityOfApplicationHtml
                }
              } if rejection.quality_of_application,
              {
                key: {
                  html: '<mark>Qualifications</mark>' if category == 'qualifications' and not reason else 'Qualifications'
                },
                value: {
                  html: qualificationsHtml
                }
              } if rejection.qualifications,
              {
                key: {
                  html: '<mark>Performance at interview</mark>' if category == 'performance-at-interview' and not reason else 'Performance at interview'
                },
                value: {
                  html: performanceAtInterviewHtml
                }
              } if rejection.performance_at_interview,
              {
                key: {
                  html: '<mark>Honesty and professionalism</mark>' if category == 'honesty-and-professionalism' and not reason else 'Honesty and professionalism'
                },
                value: {
                  html: honestyAndProfessionalismHtml
                }
              } if rejection.honesty_and_professionalism,
              {
                key: {
                  html: '<mark>Safeguarding</mark>' if category == 'safeguarding' and not reason else 'Safeguarding'
                },
                value: {
                  html: safeguardingHtml
                }
              } if rejection.safeguarding_issues,
              {
                key: {
                  html: '<mark>Offered place on another course</mark>' if category == 'offered-place-on-another-course' and not reason else 'Offered place on another course'
                },
                value: {
                  html: offeredAnotherPlaceHtml
                }
              } if rejection.they_offered_you_a_place_on_another_course,
              {
                key: {
                  html: '<mark>Course is full</mark>' if category == 'course-full' and not reason else 'Course is full'
                },
                value: {
                  html: courseFullHtml
                }
              } if rejection.course_full,
              {
                key: {
                  html: '<mark>Visa application sponsorship</mark>' if category == 'cannot-sponsor-visa' and not reason else 'Visa application sponsorship'
                },
                value: {
                  text: rejection.cannot_sponsor_visa_details
                }
              } if rejection.visa_application_sponsorship,
              {
                key: {
                  html: '<mark>Additional advice</mark>' if category == 'other-advice-or-feedback' and not reason else 'Additional advice'
                },
                value: {
                  text: rejection.additional_advice
                }
              } if rejection.additional_advice.length
            ]
          }),
          classes: "govuk-!-margin-bottom-5"
        }) }}

      {% endfor %}

      {% include "_includes/pagination.njk" %}

    {% else %}
      <p class="govuk-body">There are no results for the selected reason for rejection.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
