{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% from "_components/badge/macro.njk"                  import appBadge %}
{% from "_components/banner/macro.njk"                 import appBanner %}
{% from "_components/filter/macro.njk"                 import appFilter %}
{% from "_components/metric/macro.njk"                 import appMetric %}
{% from "_components/page-header-actions/macro.njk"    import appPageHeaderActions %}
{% from "_components/pagination/macro.njk"             import appPagination %}
{% from "_components/primary-navigation/macro.njk"     import appPrimaryNavigation %}
{% from "_components/search/macro.njk"                 import appSearch %}
{% from "_components/sub-navigation/macro.njk"         import appSubNavigation %}
{% from "_components/summary-card/macro.njk"           import appSummaryCard %}
{% from "_components/timeline/macro.njk"               import appTimeline %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}

{% if data.impersonating_id %}
  <div class="app-impersonating">
    <div class="govuk-width-container">
      You are impersonating provider user <a href="/providers/users/{{ data.impersonating_id }}" class="govuk-link">Aaron Allen</a>.

        <a href="/providers/users/{{ data.impersonating_id }}?impersonating_id=" class="govuk-button govuk-button--warning app-impersonating__button" >
        Stop impersonating
      </a>
    </div>
  </div>
{% endif %}

  {{ govukHeader({
    classes: "app-header--full-border",
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [{
      href: "#",
      text: "jane.doe@example.com"
    }, {
      href: "/sign-out",
      text: "Sign out"
    }]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype",
      classes: "app-tag--prototype"
    },
    html: "This is a prototype of a new service. Some parts may not work yet.",
    classes: "govuk-width-container"
  }) }}

  {{ appPrimaryNavigation({
    items: [{
      href: "/applications",
      text: "Candidates",
      active: primaryNavId == "candidates"
    }, {
      href: "/providers",
      text: "Providers",
      active: primaryNavId == "providers"
    }, {
      href: "/performance",
      text: "Performance",
      active: primaryNavId == "performance"
    }, {
      href: "#",
      html: "Settings",
      active: primaryNavId == "settings"
    }, {
      href: "#",
      text: "Documentation",
      active: primaryNavId == "documentation"
    }]
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set bodyClasses = bodyClasses | default("app-template--support") %}

{% block beforeContent %}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
