
{% extends "layout.html" %}

{% block pageTitle %}
  Kelly Jane Spears - Applications - {{serviceName}}
{% endblock %}

{% set pageId = 'applications' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Applications",
        href: "/"
      },
      {
        text: "Kelly Jane Spears"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <span class="govuk-caption-xl">RQ1001</span>
  <h1 class="govuk-heading-xl">Kelly Jane Spears</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Full name"
          },
          value: {
            text: "Kelly Jane Spears"
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "9 April 1997"
          }
        }, {
          key: {
            text: "Nationality"
          },
          value: {
            text: "British"
          }
        }, {
          key: {
            text: "Phone number"
          },
          value: {
            html: "<a href=\"tel:	07700 900202\">07700 900202</a>"
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            html: "<a href=\"mailto:kelly.spears@example.com\">kelly.spears@example.com</a>"
          }
        }, {
          key: {
            text: "Address"
          },
          value: {
            html: "Not provided"
          }
        }]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-card">
        <h2 class="govuk-heading-m">Status</h2>
        {{govukTag({ text: 'Reference not requested', classes: 'app-tag--references-not-requested govuk-!-margin-bottom-4' })}}
        <dl class="app-definition-list">
          <dt>Application submitted<dt>
          <dd>10 Oct 2019</dd>
        </dl>
        <!-- {{govukButton({
          text: 'Send to provider',
          href: '/send-to-provider'
        })}} -->
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-l">References</h2>

  <h3 class="govuk-heading-m">First referee</h3>

  <h2 class="govuk-heading-l">Qualifications</h2>


  <table class="govuk-table">


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Degree(s)</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Awarded</th>

        <th scope="col" class="govuk-table__header">Grade</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >BSc – Psychology</td>




            <td class="govuk-table__cell"
            >2018</td>




            <td class="govuk-table__cell"
            >Upper second (2:1)</td>


          </tr>


    </tbody>
  </table>






















  <table class="govuk-table">


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">GCSEs or equivalent</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Awarded</th>

        <th scope="col" class="govuk-table__header">Grade</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Maths
        <br><span class="govuk-body-s"></span>
      </td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – English
        <br><span class="govuk-body-s"></span>
      </td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Science
        <br><span class="govuk-body-s"></span>
      </td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>


    </tbody>
  </table>


































  <table class="govuk-table">


    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Other qualifications</th>

        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Awarded</th>

        <th scope="col" class="govuk-table__header">Grade</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – English Literature</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Geography</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Religious Studies</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – French</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – ICT</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Biology</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >GCSE – Chemistry</td>




            <td class="govuk-table__cell"
            >2013</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >A Level – French</td>




            <td class="govuk-table__cell"
            >2015</td>




            <td class="govuk-table__cell"
            >A*</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >A Level – Psychology</td>




            <td class="govuk-table__cell"
            >2015</td>




            <td class="govuk-table__cell"
            >A</td>


          </tr>



          <tr class="govuk-table__row">



            <td class="govuk-table__cell"
            >A Level – Maths</td>




            <td class="govuk-table__cell"
            >2015</td>




            <td class="govuk-table__cell"
            >B</td>


          </tr>


    </tbody>
  </table>

  <h2 class="govuk-heading-l">Application history</h2>

{% endblock %}
