
{% extends "layout.html" %}

{% block pageTitle %}
  Kelly Jane Spears - Applications - {{serviceName}}
{% endblock %}

{% set pageId = 'applications' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Applications",
        href: "/"
      },
      {
        text: "Kelly Jane Spears"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <span class="govuk-caption-xl">RQ1001</span>
  <h1 class="govuk-heading-xl">Kelly Jane Spears</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Full name"
          },
          value: {
            text: "Kelly Jane Spears"
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "9 April 1997"
          }
        }, {
          key: {
            text: "Nationality"
          },
          value: {
            text: "British"
          }
        }, {
          key: {
            text: "Phone number"
          },
          value: {
            html: "<a href=\"tel:	07700 900202\">07700 900202</a>"
          }
        }, {
          key: {
            text: "Email address"
          },
          value: {
            html: "<a href=\"mailto:kelly.spears@example.com\">kelly.spears@example.com</a>"
          }
        }, {
          key: {
            text: "Address"
          },
          value: {
            html: "Not provided"
          }
        }]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-card">
        <h2 class="govuk-heading-m">Status</h2>
        {{govukTag({ text: 'Awaiting reference', classes: 'app-tag--references-not-requested govuk-!-margin-bottom-4' })}}
        <dl class="app-definition-list">
          <dt>Application submitted<dt>
          <dd>10 Oct 2019</dd>
        </dl>
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-l">First reference</h2>

  {% set statusOneHtml %}
    <div class="govuk-!-margin-bottom-4">{{govukTag({ text: 'Not requested', classes: 'app-tag--references-not-requested' })}}</div>

    <p class="govuk-body">Link: <strong>https://docs.google.com/forms/d/e/1FAIpQLSeLHV9XVqckn8XUjyAS3n7dzKU5OF-BLm5dYn51JcT6qa9pGg/viewform?usp=pp_url&entry.1515340886=1234&entry.409316871=email@email.com&entry.994572146=Adam+Silver&entry.1696393181=John+Doe</strong></p>

    {{govukButton({
      text: 'Mark as requested',
      href: '/application',
      classes: 'govuk-button--secondary'
    })}}
  {% endset %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-4',
    rows: [{
      key: {
        text: "Referee name"
      },
      value: {
        text: "Yana Juan"
      }
    }, {
      key: {
        text: "Referee email address"
      },
      value: {
        html: '<a href="mailto:yana@exampke.com">yana@exampke.com</a>'
      }
    }, {
      key: {
        text: "Referee phone number"
      },
      value: {
        html: '<a href="tel:07700 907811">07700 907811</a>'
      }
    }]
  }) }}

  <div class="app-card govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m">Status</h2>
    <div class="govuk-!-margin-bottom-4">{{govukTag({ text: 'Not requested', classes: 'app-tag--references-not-requested' })}}</div>


    {{ govukInput({
      label: {
        text: "Google Form URL"
      },
      id: "event-name",
      name: "event-name",
      value: 'https://docs.google.com/forms/d/e/1FAIpQLSeLHV9XVqckn8XUjyAS3n7dzKU5OF-BLm5dYn51JcT6qa9pGg/viewform?usp=pp_url&entry.1515340886=1234&entry.409316871=email@email.com&entry.994572146=Adam+Silver&entry.1696393181=John+Doe',
      attributes: {
        readOnly: true
      }
    }) }}

    {{govukButton({
      text: 'Mark as requested',
      href: '/application'
    })}}
  </div>

  <h2 class="govuk-heading-l">First reference</h2>

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Referee name"
      },
      value: {
        text: "Yana Juan"
      }
    }, {
      key: {
        text: "Referee email address"
      },
      value: {
        html: '<a href="mailto:yana@exampke.com">yana@exampke.com</a>'
      }
    }, {
      key: {
        text: "Referee phone number"
      },
      value: {
        html: '<a href="tel:07700 907811">07700 907811</a>'
      }
    }]
  }) }}

  <div class="app-card govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m">Status</h2>
    <div class="govuk-!-margin-bottom-4">{{govukTag({ text: 'Awaiting response', classes: 'app-tag--waiting-on-references' })}}</div>

    {{govukButton({
      text: 'Mark as not requested',
      href: '/application'
    })}}
  </div>

  <h2 class="govuk-heading-l">Second reference</h2>

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Referee name"
      },
      value: {
        text: "Mee Tsou"
      }
    }, {
      key: {
        text: "Referee email address"
      },
      value: {
        html: '<a href="mailto:mee.tsou@example.ac.cn">mee.tsou@example.ac.cn</a>'
      }
    }, {
      key: {
        text: "Referee phone number"
      },
      value: {
        html: '<a href="tel:07700 900001">07700 900001</a>'
      }
    }, {
      key: {
        text: "Reference"
      },
      value: {
        html: "Fantastic personality. Great with people. Strong communicator . Excellent character. Passionate about teaching . Great potential. Go for her. A charismatic talented able young woman who is far better than her official degree result. An exceptional person."
      }
    }]
  }) }}

  <h2 class="govuk-heading-l">Application history</h2>

{% endblock %}
