
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Import references - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: 'Back',
    href: '/'
  })}}
{% endblock %}

{% block content %}

  {# {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Select CSV file",
        href: "#file-upload"
      }
    ]
  }) }} #}

  <form action="/">
    {{ govukFileUpload({
      id: "file-upload",
      name: "file-upload",
      isPageHeading: true,
      label: {
        text: "Upload and import references",
        classes: 'govuk-label--xl'
      },
      hint: {
        text: 'Download the latest Google Sheet as a CSV file and select it below'
      }
    }) }}

    {{ govukButton({ text: 'Upload and import references' }) }}

  </form>




{% endblock %}
