
{% extends "layout.html" %}

{% block pageTitle %}
  Success — Import references - {{serviceName}}
{% endblock %}

{% block content %}

  {{ govukPanel({
    titleText: "Import complete"
  }) }}

  <h2 class="govuk-heading-l">3 references imported successfully</h2>

  {{ govukTable({
    head: [
      {
        text: "Candidate"
      },
      {
        text: "Referee"
      },
      {
        text: "Reference"
      }
    ],
    rows: [
      [
        {
          text: "Kelly Jane Spears"
        },
        {
          text: "David Wilcox"
        },
        {
          text: "A charismatic talented able young woman who is far better than her official degree result. Great with people, fantastic personality and a strong communicator passionate about teaching. Great potential. Go for her."
        }
      ],
      [
        {
          text: "Poppy Noor"
        },
        {
          text: "Mee Tsou"
        },
        {
          text: "Fantastic personality. Great with people. Strong communicator . Excellent character. Passionate about teaching . Great potential. Go for her. A charismatic talented able young woman who is far better than her official degree result. An exceptional person."
        }
      ],
      [
        {
          text: "Jeremy Brown"
        },
        {
          text: "Janice Doe"
        },
        {
          text: "A charismatic talented and able woman. Great with people, fantastic personality and a strong communicator passionate about teaching. Great potential. Go for her."
        }
      ]
    ]
  }) }}

  <h2 class="govuk-heading-l">1 reference failed to be imported</h2>

  {{ govukTable({
    head: [
      {
        text: "Referee"
      },
      {
        text: "Reference"
      },
      {
        text: "Error"
      }
    ],
    rows: [
      [
        {
          text: "Tom Rivers"
        },
        {
          text: "A charismatic talented and able woman. Great with people, fantastic personality and a strong communicator passionate about teaching. Great potential. Go for her."
        },
        {
          html: govukErrorMessage({ text: "The reference ID 123435 could not be found in the database" })
        }
      ]
    ]
  }) }}

  {{ govukButton({ text: 'Continue', href: '/' }) }}



{% endblock %}
