
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Applications - {{serviceName}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% if data['file-upload'] %}

    {{ appBanner({
      type: 'success',
      text: 'References uploaded and imported successfully',
      iconFallbackText: 'Success'
    }) }}

  {% endif %}

  <h1 class="govuk-heading-xl">Applications</h1>

  {{govukButton({
    text: 'Import references',
    href: '/import-references'
  })}}

  {{ govukTable({
    head: [
      {
        text: "Reference"
      },
      {
        text: "Name"
      },
      {
        text: "Status"
      },
      {
        text: "Submitted on",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          html: '<a href="/application">RQ1001</a>'
        },
        {
          html: 'Elizabeth Rose'
        },
        {
          html: appBadge({ text: 'Reference(s) not requested' })
        },
        {
          text: "5 Nov 2019",
          format: "numeric"
        }
      ],
      [
        {
          html: '<a href="/application">YX3225</a>'
        },
        {
          html: 'Kelly Jane Spears'
        },
        {
          html: appBadge({ text: 'Reference(s) not requested' })
        },
        {
          text: "1 Nov 2019",
          format: "numeric"
        }
      ],
      [
        {
          html: '<a href="/application">TU8112</a>'
        },
        {
          html: "Poppy Noor"
        },
        {
          html: appBadge({ text: 'Reference(s) overdue', classes: 'app-badge--red' })
        },
        {
          text: "29 Oct 2019",
          format: "numeric"
        }
      ],
      [
        {
          html: '<a href="/application">RE31021</a>'
        },
        {
          html: "May Cole"
        },
        {
          html: appBadge({ text: 'Reference(s) received', classes: 'app-badge--green' })
        },
        {
          text: "21 Oct 2019",
          format: "numeric"
        }
      ],
      [
        {
          html: '<a href="/application">DF1112</a>'
        },
        {
          html: "Elise Briggs"
        },
        {
          html: appBadge({ text: 'Waiting on reference(s)', classes: 'app-badge--grey'})
        },
        {
          text: "28 Oct 2019",
          format: "numeric"
        }
      ]
    ]
  }) }}

{% endblock %}
