
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Applications - {{serviceName}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Applications</h1>

  {{govukButton({
    text: 'Import references',
    href: '/import-references'
  })}}

  {{ govukTable({
    head: [
      {
        text: "Reference"
      },
      {
        text: "Name"
      },
      {
        text: "Status"
      },
      {
        text: "Status of reference"
      }
    ],
    rows: [
       [
        {
          html: '<a href="/application">YX3225</a>'
        },
        {
          html: 'Kelly Jane Spears'
        },
        {
          text: "Awaiting reference"
        },
        {
          html: govukTag({ text: 'Not requested', classes: 'app-tag--references-not-requested' })
        }
      ],
      [
        {
          html: '<a href="/application">TU8112</a>'
        },
        {
          html: "Poppy Noor"
        },
        {
          text: "Awaiting reference"
        },
        {
          html: govukTag({ text: 'Not requested', classes: 'app-tag--references-not-requested' })
        }
      ],
      [
        {
          html: '<a href="/application">RE31021</a>'
        },
        {
          html: "May Cole"
        },
        {
          text: "Awaiting reference"
        },
        {
          html: govukTag({ text: 'Received', classes: 'app-tag--references-received' })
        }
      ],
      [
        {
          html: '<a href="/application">DF1112</a>'
        },
        {
          html: "Elise Briggs"
        },
        {
          text: "Awaiting reference"
        },
        {
          html: govukTag({ text: 'Awaiting response', classes: 'app-tag--waiting-on-references'})
        }
      ],
      [
        {
          html: '<a href="/application">RF4412</a>'
        },
        {
          html: "Noah Smith"
        },
        {
          text: "Not submitted"
        },
        {
         html: ''
        }
      ]
    ]
  }) }}

{% endblock %}
