
{% extends "_layout.njk" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Prototype for {{serviceName}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Prototype</h1>

  {{govukButton({
    text: 'Start prototype',
    href: '/applications'
  })}}

{% endblock %}
