
{% extends "layout.html" %}

{% set pageId = 'applications' %}

{% block pageTitle %}
  Applications - {{serviceName}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Applications</h1>

  {{govukButton({
    text: 'Import references',
    href: '/import-references'
  })}}

  {{ govukTable({
    head: [
      {
        text: "Application number"
      },
      {
        text: "Name"
      },
      {
        text: "Reference 1"
      },
      {
        text: "Reference 2"
      }
    ],
    rows: [
      [
        {
          html: '<a href="/application">TU8112</a>'
        },
        {
          html: "Poppy Noor"
        },
        {
          text: govukTag({ text: "Not requested", classes: 'app-tag--blue-outline' })
        },
        {
          text: "Awaiting response"
        }
      ],
      [
        {
          html: '<a href="/application">RE31021</a>'
        },
        {
          html: "May Cole"
        },
        {
          text: govukTag({ text: "Received", classes: 'app-tag--blue-filled' })
        },
        {
          text: govukTag({ text: "Received", classes: 'app-tag--blue-filled' })
        }
      ],
      [
        {
          html: '<a href="/application">AD4412</a>'
        },
        {
          html: "Bill Briggs"
        },
        {
          text: govukTag({ text: "Received", classes: 'app-tag--blue-filled' })
        },
        {
          text: govukTag({ text: "Received", classes: 'app-tag--blue-filled' })
        }
      ],
      [
        {
          html: '<a href="/application-awaiting-references">YX3225</a>'
        },
        {
          html: 'Kelly Jane Spears'
        },
        {
          text: "Awaiting response"
        },
        {
          text: "Awaiting response"
        }
      ],
      [
        {
          html: '<a href="/application">RG35266</a>'
        },
        {
          html: "Emma Cole"
        },
        {
          text: "Awaiting response"
        },
        {
          text: "Received"
        }
      ],
      [
        {
          html: '<a href="/application">DF1112</a>'
        },
        {
          html: "Elise Briggs"
        },
        {
          text: "Awaiting response"
        },
        {
          text: "Awaiting response"
        }
      ],

      [
        {
          html: '<a href="/application">RF4412</a>'
        },
        {
          html: "Noah Smith"
        },
        {
          text: ""
        },
        {
          text: ""
        }
      ]
    ]
  }) }}

      {# [
        {
          html: '<a href="/application">WX4021</a>'
        },
        {
          html: "Joseph Cohen"
        },
        {
          text: "Awaiting references"
        },
        {
          text: govukTag({ text: "Needs chasing", classes: 'app-tag--red-outline' })
        },
        {
          text: govukTag({ text: "Overdue", classes: 'app-tag--red-filled' })
        }
      ], #}

{% endblock %}
