{% extends "_layout.njk" %}

{% set primaryNavId = "providers" %}
{% set subNavId = "courses" %}

{% block pageTitle %}
  Prototype for {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/providers",
    text: "Providers"
  }, {
    href: "/providers/" + provider.code,
    text: provider.name
  }, {
    text: "Courses"
  }]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ provider.name }} ({{ provider.code }})</h1>

    {% include "../_sub-navigation.njk" %}

    <h2 class="govuk-visually-hidden">Courses</h2>

    <h2 class="govuk-heading-m">Open all courses</h2>

    <p class="govuk-body">This will toggle every course on this provider to be available through Apply.</p>

    <form action="#" method="post" accept-charset="UTF-8" novalidate>
      {{ govukButton({
        text: "Open all courses for the 2021 cycle"
      }) }}
    </form>

    {% if cycles.length %}

      {% for cycle in cycles %}

        <h3 class="govuk-heading-m">{{ cycle.year }}: {{ cycle.courses.length }} courses</h3>

        {% if cycle.courses.length %}

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cycle</th>
                <th scope="col" class="govuk-table__header">Courses</th>
                <th scope="col" class="govuk-table__header">Status</th>
                {% if not provider.provider_type in ['university','scitt'] %}
                  <th scope="col" class="govuk-table__header">Accredited body</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for course in cycle.courses %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ course.recruitment_cycle_year }}
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/providers/{{ provider.code }}/courses/{{ course.code }}">
                    {{ course.name }} ({{ course.code }})
                  </a>
                </td>
                <td class="govuk-table__cell">
                  {% if course.exposed_in_find %}
                    {% if course.open_on_apply %}
                      {{ govukTag({
                        text: "Open on Apply & UCAS",
                        classes: "govuk-tag--green app-tag"
                      }) }}
                    {% else %}
                      {{ govukTag({
                        text: "Open on UCAS only",
                        classes: "govuk-tag--blue app-tag"
                      }) }}
                    {% endif %}
                  {% else %}
                    {{ govukTag({
                      text: "Hidden on find",
                      classes: "govuk-tag--grey app-tag"
                    }) }}
                  {% endif %}
                </td>
                {% if not provider.provider_type in ['university','scitt'] %}
                  <td class="govuk-table__cell">
                    {% if course.accredited_body %}
                      <a class="govuk-link" href="/providers/{{ course.accredited_body.code }}">
                        {{ course.accredited_body.name }} ({{ course.accredited_body.code }})
                      </a>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p class="govuk-body">There aren’t any courses for {{ cycle.year }}.</p>

        {% endif %}

      {% endfor %}

    {% else %}

      <p class="govuk-body">There aren’t any courses for this provider because the courses aren’t synced yet.</p>

      {{ govukButton({
        href: "#",
        text: "Enable course syncing from Find"
      }) }}

    {% endif %}

  </div>
</div>


{% endblock %}
